* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --main-color: #50029e;
  --main-color-hover: #51d6ca;
  --main-color-hover-2: #2aada2;
  --main-white-color: #f8f8f8;
}
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-white-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5f05b9;
}
.main-btn {
  background-color: var(--main-color-hover);
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.3s;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  border: none;
}

.main-btn:hover {
  background-color: var(--main-color-hover-2) !important;
}

.main-color {
  color: var(--main-color);
}
