.project {
  overflow: hidden;
  /* background-color: var(--main-white-color); */
  box-shadow: 0 5px 25px rgba(1, 1, 1, 0.163);
}
.project .card {
  min-height: 360px;
}
.projects {
  overflow: hidden;
}

.projects .title h2 {
  color: var(--main-color);
}

.project .card-title {
  color: var(--main-color);
}

.project .tecnology {
  color: var(--main-color-hover-2);
  font-weight: bold;
}
